<%= form_with model: @article, local: true do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <label>Tags</label>
  <div class="tag-editor">
    <span>
      <%= form.fields_for :tags, :include_id => false do |tag_fields| %>
        <span class="article-tag">
          <%= tag_fields.object.name %>
          <span class="article-tag__delete-tag" title="remove this tag"></span>
          <%= tag_fields.hidden_field :id %>
          <%= tag_fields.hidden_field :name %>
        </span>
      <% end %>
    </span>
    <%= text_field_tag 'tag', "", placeholder: "Tags", autocomplete: "off", class: "tag-editor__input" %>
  </div>
  <div class="tag-suggestions"></div>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
